h1 {
color: #D35400;}
h1{text-decoration:underline;}
h1{font-size: 70px;
text-decoration-color: #F5CBA7;}
h1{text-align: center;}
img{width:400px;}
iframe{width: 400px}
p {color: #D35400}
p{text-align:center;
font-family: arial}
h2 {color: #E59866;
font-size: 45px;}
ul{font-family: arial}
ol{font-family: arial}
h2{text-align: center;}
h2{text-decoration: underline;color:##F8C471;}
h3{color: #E59866;
font-size: 40px;}
h4{color: #F8C471;
font-size: 30px;
text-decoration:underline; }
body{background-color: #FDEBD0;}
